[Desktop Entry]
Name=GPU Instant Replay (ShadowPlay)
Comment=Sprzętowe nagrywanie powtórek z gier w ultra-wysokim klatkażu 144/240/360 FPS (Win+Alt+R)
Exec=/usr/bin/nexo-replay gui
Icon=media-record
Terminal=false
Type=Application
Categories=Game;AudioVideo;Recorder;
