[Desktop Entry]
Name=Pobieracz Multimediów (yt-dlp)
Comment=Pobieraj wideo MP4 i muzykę MP3 z YouTube, TikToka i Twittera
Exec=/usr/bin/nexo-downloader
Icon=download
Terminal=false
Type=Application
Categories=Network;AudioVideo;
